<!-- <!DOCTYPE html>
<html>
<head>
	<title>Help desk</title>
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<body>
	<form action="/trial/" method="POST">
    {% csrf_token %}
 <input type="file" name="file" onchange="v();" id="file" multiple> 
 <div id="files"> 
 <table id="table" class="table">
 	<th>Document</th>
 	<th>Remove</th>
 </table>  
</div>
<button type="submit">Submit</button></form>
 </div>
</body>
<script type="text/javascript">
  var files= [];
  
  function v(){
  	var cnt=0;
    f=document.getElementById("file").value
    x = document.getElementById("files")
    files.push(f)
    
    // document.getElementById("file").value=""

     // for(var i =0;i<files.length;i++){
     //    console.log(i)
     //   input_label = document.createElement('input');
     //   input_label.setAttribute('type','text');
     //   input_label.setAttribute('name','selectedFiles');
     //   input_label.setAttribute('value',files[i]) ; 
     //   input_label.setAttribute('disabled','true') ;
     //   input_label.setAttribute('width','1400px') ;       
     //   document.getElementById('files').append(input_label);
       
      // $("#table").append("<tr><td>"+files[i]+"</td><td></td></tr>");
    // }
    jQuery('#table div').html('');

    $("file").click(function(){
      console.log("HI")
    $("input:text").val(files);
  });

    $("#table").append("<tr><td>"+f+"</td><td></td></tr>");
    console.log(files.length)
    
    console.log(document.getElementById("file").value)
  	if(files.length == 0){
    document.write("No Documents found")
}
    $("file").click(function(){
      console.log("HI1")
    $("input:text").val(files);
  });
  

   
  }
</script>
</html>  -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script type="text/javascript">

function yesnoCheck() {
    if (document.getElementById('yesCheck').checked) {
        document.getElementById('ifYes').style.visibility = 'visible';
    } else {
        document.getElementById('ifYes').style.visibility = 'hidden';
    }

</script>
</head>
<body>

</body>
</html>

<input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="yesCheck"/>No
<input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="noCheck"/>
<br>
<div id="ifYes" style="visibility:hidden">If yes, explain:
    <input type='text' id='yes' name='yes'/>
    <br>What can we do to accommodate you?
        <input type='text' id='acc' name='acc'/>
</div>
   other 3
<input type='text' id='other3' name='other3'>
<br>
    other 4
<input type='text' id='other4' name='other4'>
<br>