<!-- <!DOCTYPE html>
<html>
<head>
	<title>HelpdeskApp</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style type="text/css">
  	

  </style>
<script type="text/javascript">
	$('.ui.sidebar')
  .sidebar('toggle')
;
</script>
</head>
<body>
  <div class="ui left demo vertical inverted sidebar labeled icon menu">
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Topics
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
</div>
</body>
</html>  -->
<!DOCTYPE html>
<html>
<head>
	<title>HelpdeskApp</title>
</head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script>
  {% if messages %}
    {% for message in messages%}
      alert("{{message}}")
    {%endfor%}
  {% endif %}
</script>
<style type="text/css">
	.header {
width: 120%;
  margin-top: -20px;
  padding:7px 15px ;
 padding-right: 50px;
  border-bottom:1px solid #eee;
  background-color:#616D7E;
  font-size:20px;
  color: white;
   }

</style>
<body>
	<div class="row">
		<div class="col-sm-12">
			<div class="navbar"style="background-color: #C7C3C3;padding-left: 10px;">
				<h4><b>HelpDesk App
					<div style="float: right;">  
				 	<span class="glyphicon glyphicon-user"></span>{{user.associated_user_account}} 
				 
				 	<a href="/logout" style="float: right; color: black;" ><span class="glyphicon glyphicon-log-out"></span> Log out&nbsp&nbsp&nbsp&nbsp</a>&nbsp&nbsp&nbsp&nbsp
				
				 	</div>
				</b></h4>
			</div>	
		</div>
	</div>
	<div class="row" >
		<div class="col-sm-2" style="margin-top:-20px;margin-right: -30px;">
			<ul class="nav " style="background-color: #0073c6; color: white;  padding: 15px;"><br>
				<h4><span class="glyphicon glyphicon-th-list"></span><b> Menu</b>
				<br><br><br>
				<li class="nav-item">
					<a href="/raiseTicket" style="color: white;"><span class="glyphicon glyphicon-hand-up"></span> Raise Ticket</a>
				</li>
				<br><br>
				<li class="nav-item">
					<a  href="/pending" style="color: white;"><span class="glyphicon glyphicon-question-sign"></span> My Requests</a>
				</li>
				<br><br>
				{%if FirstApprover%}
				<li class="nav-item">
					<a  href="/approval" style="color: white;"><span class="glyphicon glyphicon-ok-sign"></span> First Approval</a>
				</li>
				<br><br>
				{%endif%}
				{%if ApproverHead%}
				<li class="nav-item">
					<a  href="/HelpdeskApprover" style="color: white;"><span class="glyphicon glyphicon-check"></span> Approver Head</a>
				</li>
				<br><br>
				{% endif %}
				{% if FulfillerHead%}
				<li class="nav-item">
					<a  href="/HelpdeskFulfillerHead" style="color: white;"> <span class="glyphicon glyphicon-link"></span> Fulfiller Head</a>
				</li>
				<br><br>
				{% endif %}
				{% if Fulfiller %}
				<li class="nav-item">
					<a  href="/AssignedTickets" style="color: white;"><span class="glyphicon glyphicon-tasks"></span> Assigned Tasks</a>
				</li>
				<br><br>
				{% endif %}
				{%if SLAFulfillerHead%}
				<li class="nav-item">
					<a href="/sla?page=1" style="color: white;"><span class="glyphicon glyphicon-dashboard"></span> SLA's</a>
				</li><br><br><br><br><br>
				</b>
				{%endif%}</h4>
			</ul>	
		</div>
		<div class="col-sm-10" style="margin-right: -100px;">
			{%block content %}
			{%endblock%}
			
		</div>
	</div>
		



</body>
</html> 