<!DOCTYPE html>
<html>
<head>
	<title>HelpDeskApp</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style type="text/css">
    .btn-default
    {
      background-color:  #DB5000;
      color:#FFF;
      border-color: #2F3E48;
    }
  </style>
  <script>
    {% if messages %}
      {% for message in messages%}
        alert("{{message}}")
      {%endfor%}
    {% endif %}
  </script>
  <body style="font-family: cursive;">
      <div class="col-sm-5" style="padding-left: 50px;">
        <br><br>
        <img src="/media/download.png" height="80">
        <br><br>
        <h3>Login</h3>
        <br>
        <h4>Your organization uses following modes to access HelpDesk</h4>
        <br><br>
        <a href="{{sign_in_url}}" class="btn btn-default btn-lg">Login with Office365</a>
      </div>
  </body>
</html>


