{%extends 'index.html' %}
{%block content %}
<html>
<head>
	<style type="text/css">
	.header {
    padding:7px 15px ;
	padding-left: 10px;
    border-bottom:1px solid #eee;
    background-color:#616D7E;
     font-size:20px;
    color: white;

margin-right: -55px;
}

    

   #t1 td{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;

 padding-left: 2px;
 padding-right: 2px;
margin-right: -55px;

}

#t1 {
  border-collapse: separate;
  border-spacing: -50px;
   padding-left: 30px;
   padding-right: 50px;
}


  




</style>
	<title>Help desk</title>
 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script language="javascript" type="text/javascript">  

$(document).ready(function(){
 

//If parent option is changed
$("#department_selection").change(function() {
	var parent = $(this).val(); //get option value from parent 
		select_category(parent);
});

//function to populate child select box
function select_category(array_list)
{
	$("#category_selection").html(""); //reset child options
	$("#category_selection").append("<option value=\"\"disabled selected>--Please Select--</option>");
	//$(array_list).each(function (i) { //populate child options
	
	{%for i in category%}
 	var count ={{i.department_id_id}}
	if(count == array_list){		
		$("#category_selection").append("<option value={{i.id}}>{{i.title}}</option>");
	}
	{%endfor%}	
}

$("#category_selection").change(function() {
	var parent = $(this).val(); //get option value from parent 
		select_subcategory(parent);
});

function select_subcategory(array_list)
{
	$("#sub_Category").html(""); //reset child options
	$("#sub_Category").append("<option value=\"\"disabled selected>--Please Select--</option>");
	//$(array_list).each(function (i) { //populate child options
	
	{%for i in subCategory%}
 	var count ={{i.department_id_id}}
 	
	if(count == array_list){		
		$("#sub_Category").append("<option value={{i.id}}>{{i.title}}</option>");
	}
	{%endfor%}	
}

});

</script>

<script type="text/javascript">

function yesnoCheck() {
    if (document.getElementById('yesCheck').checked) {
        document.getElementById('ifYes').style.visibility = 'visible';
    }
    else document.getElementById('ifYes').style.visibility = 'hidden';

}

</script>
</SCRIPT>
<style>
</style>
</head>
<body>

<div class="header">
        	
        		  <span class="glyphicon glyphicon-hand-up"></span> Raise Request
        	</div>
        	
        		<table style="width:100%"id="t1" >
         		{% if item %}	
         		<form action="updateTicket"  method="POST" enctype="multipart/form-data">
         		{%else%}
         		<form action="addTicket/"   method="POST" enctype="multipart/form-data">
         		{%endif%}
				{% csrf_token %}

<div class="input-group mb-3">
				<tr >
					
				<td ><label><b>Request Type</b></label>&nbsp;&nbsp;
				<input type="radio" name="RequestType" value="Request" checked>Request&nbsp;&nbsp;&nbsp;
				<input type="radio" name="RequestType" value="Issue">Issue
				</td>
				
				</tr>
				
				<tr>
					<td width="20%">
				<label><b>Request For</b></label>
				
					&nbsp;&nbsp;&nbsp;
				
				 <input type="radio" checked onclick="javascript:yesnoCheck();" value="Self" name="yesno" id="noCheck"> Self &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 <input type="radio" value="OnBehalf" onclick="javascript:yesnoCheck();" name="yesno" id="yesCheck">On Behalf Of<br></td><td>

    <div id="ifYes" style="visibility:hidden">
    	<input type="test" name="onBehalfOf" placeholder="People Picker" id="default" list="languages">
       
    </div>
        
   <div id="page-wrapper">
 

  
  <datalist id="languages">

   
    	{% for emp in employee%}
  	<option value="{{emp.associated_user_account}}">
  		{%endfor%}
  </datalist>
  
  


</div>
			
			</td></tr>
				
				<tr><td style="margin-left: 500px;">
				<label><b>Department <font color="red">*</font></b></label><br>
				
					<select name="department" data-size="5" class="form-control" style="width:280px;" id="department_selection" required >
						<option value=""disabled selected>-- Please Select --</option>
						{% for dept in departments %}
							{% if dept.department == item.department%}
								<option value={{dept.id}} selected >{{dept.department}}
								
								</option>
							{%else%}
								<option value={{dept.id}}>{{dept.department}}</option>
							{%endif%}
						{%endfor%}
					</select></td><td width="20%">
					<label><b>Category <font color="red">*</font></b></label><br>
					<select  style="width:280px;"  class="form-control" name="category" id="category_selection" required>
						<option value=""disabled selected>-- Please Select --</option>
						{% for dept in departments %}
							{% if dept.department == item.department%}
								{%for cat in category%}
									{%if cat.department_id_id == dept.id%}
									{%if cat.title == item.category%}
									<option value={{cat.id}} selected>{{cat.title}}
									</option>
									{%else%}
									<option value={{cat.id}} >{{cat.title}}
									{%endif%}
								
								{%endif%}
								{%endfor%}
							{%endif%}
						{%endfor%}
					</select></td>
					<td width="20%">

						<label><b>Sub Category <font color="red">*</font></b></label><br>
						<select name="sub_category"  style="width:280px;" class="form-control"  id="sub_Category">
							<option value=""disabled selected>-- Please Select --</option>{% for cat in category %}

							{% if cat.title == item.category%}
							
								{%for sub in subCategory%}
									{%if sub.department_id_id == cat.id%}
									{%if sub.title == item.sub_category%}
									<option value={{sub.id}} selected>{{sub.title}}
									</option>
									{%else%}
									<option value={{sub.id}}>{{sub.title}}</option>
									{%endif%}
								
								{%endif%}
								{%endfor%}
							{%endif%}
						{%endfor%}
						</select>
				</td><td width="30%">
			
					<label><b>Priority <font color="red">*</font></b></label><br>
					<select name="priority" style="width:280px;" class="form-control" required>
						<option value=""disabled selected>-- Please Select --</option>
						
						<option value="Low">Low</option>
						<option value="Medium">Medium</option>
						<option value="High">High</option>
					</select>
					 </td></tr>
					
				 	
				
				 	<tr><td colspan="2">
					<label><b>Description <font color="red">*</font></b></label>
					<textarea name="Description" style="width:560px;" class="form-control" value="{{item.description}}"rows="4" cols="10" required></textarea></td><td>
					<label><b>Office Location <font color="red">*</font></b></label><br>
					<select name="officeLocation" style="width:280px;" class="form-control"  required>
						<option value=""disabled selected>-- Please Select --</option>

						{% for office in officelocation %}
							{% if office.title == item.HelpdeskOffice%}
								<option value={{office.id}} selected >{{office.title}}
								
								</option>
							{%else%}
								<option value={{office.id}}>{{office.title}}</option>
							{%endif%}
						{%endfor%}
					</select></td><td>
			<label><b>Desk Location <font color="red">*</font></b></label><br>
					<input style="width:280px;" class="form-control"  type="text" name="deskLocation" value="{{item.DeskLocation}}" required>
					</td>
			
				</tr>
				<tr><td colspan="4">
	<label><b>Upload supporting documents:</b></label><br>
	
		<label for="files"  class="btn btn-primary"><span class="glyphicon glyphicon-folder-open"></span>  Browse</label>
	
	


					<input type="file" style="visibility:hidden;" id="files" name="documents">
					
</td></tr><tr>
<td>					<label><b>First Approver:{{firstApprover}}</b></label>

					</td>
</tr><tr><td>
					{%if item %}
					<button class="btn btn-primary" type="Submit"> <span class="glyphicon glyphicon-pencil"></span> Update</button>
					{% else %}
					<button class="btn btn-primary" type="Submit"><span class="glyphicon glyphicon-ok-sign"></span> Submit</button>
					{%endif%}
				</td>
				</tr>
				</form>
        	</div>

        	{%endblock%}
        	