{%extends 'index.html' %}
{%block content %}<!DOCTYPE html>
<html>
<head>


	<title>Help desk</title>
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <style type="text/css">
	
 .footer{
    padding:5px 15px ;
  padding-left: 10px;
    border-bottom:1px solid #eee;
    background-color:   #D3D3D3;
     font-size:20px;
    color: white;
margin-left: -50px;
margin-right: -55px;


}</style>

 <script>
  {% if messages %}
    {% for message in messages%}
      alert("{{message}}")
    {%endfor%}
  {% endif %}
</script>
   
<script language="javascript" type="text/javascript">  

</script>

</head>
<body>
 

	<body>
  <div class="header">
          
         <span class="glyphicon glyphicon-dashboard"></span> SLA's
          </div>
           <div class="footer" style="padding-right: 5px;">

  

<a  data-toggle="modal" data-target="#myModal" href="/slas/0"   style="margin-left: 1000px;" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Add</a>
</div>
<center>


          


{% if all_items %}
  
  <table class="table" style=" padding-left: 70px;margin-left: -50px;"> 
  <thead>
       <tr>
        
      <th>Location</th>
      <th>Department</th>
      
      <th>Category</th> 
      <th>Sub-Category</th>
      
      <th>Priority</th>
      <th>Select</th>
    </tr>
  </thead><center>
  {% for item in all_items %}
  <tr style="font-size: 14px;">
    
    <td>{{item.HelpdeskLocation}}</td>
    <td>{{item.HelpdeskDepartment}}</td>
    <td>{{item.HelpdeskCategory}}</td>
    <td>{{item.HelpdeskSubCategory}}</td>
    <td>{{item.HelpdeskPriority}}</td>
    <td>   <a  data-toggle="modal" data-target="#myModal" href="/slas/{{item.id}}" > <span class="glyphicon glyphicon-pencil"></span> Edit</a> </td>
  </tr>
  {%endfor%}</center>
  </table>
{%endif%}
</center>
 <ul class="pager" style="margin-left: 700px;">
  <li class="page-link"><a href="?page=1"><span class="glyphicon glyphicon-fast-backward"></span></a></li>

   
     
        {% if all_items.has_previous %}

           <li class="page-link"><a href="?page={{ all_items.previous_page_number }}"><span class="glyphicon glyphicon-step-backward"></a></li>
        {% else %}
          <li class="page-link"><a href="?page=1"><span class="glyphicon glyphicon-step-backward"></a></li>       
        {% endif %}

        
          <li> Page {{ all_items.number }} of {{ all_items.paginator.num_pages }}</li>

       

        {% if all_items.has_next %}
          
           <li> <a href="?page={{ all_items.next_page_number }}"><span class="glyphicon glyphicon-step-forward"></span></a></li>
        {% else %}
          <li> <a href="?page={{ all_items.paginator.num_pages }}"><span class="glyphicon glyphicon-step-forward"></span></a></li>
        {% endif %}
        <li class="page-link"><a href="?page={{ all_items.paginator.num_pages }}"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
  </ul>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
           <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 



</form>

</body>

</html>



{%endblock%}