<!DOCTYPE html>
<html>
<head>


	<title>Help desk</title>
	 <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script language="javascript" type="text/javascript"></script>  




  <style>

table, th, td {
  border: 1px solid black;
  padding: 5px;
}
table {
  border-spacing: 5px;
}
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

</style>
</head>
<body>
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-warning alert-dismissable" role="alert"> 
    
      {{message}}
      <button class="close" data-dismiss="alert">x</button>
    </div>
  {%endfor%}
  {%endif%}
  
   <a href="/raiseTicket" class="btn btn-info btn-lg" >Raise Ticket</a> <a class="navbar-brand" href="/logout/">Logout</a>
   <br><br>
   
<ul class="nav nav-tabs">
  {% if tab == "Pending" %}
    <li class="nav-item active"><a href="/pending">Pending</a></li>
  {% else %}
    <li class="nav-item "><a href="/pending">Pending</a></li>
  {% endif %}
  {% if tab == "Approved" %}
    <li class="nav-item active"><a href="/approved">Approved</a></li>
  {% else %}
    <li class="nav-item"><a href="/approved">Approved</a></li>
  {% endif %}
  {% if tab == "Completed" %}
    <li class="nav-item active"><a href="/completed">Completed</a></li>
  {% else %}  
    <li class="nav-item"><a href="/completed">Completed</a></li>
  {% endif %}
  {% if tab == "Reopened" %}
    <li class="nav-item active"><a href="/reopened">Reopened</a></li>
  {%else%}
    <li class="nav-item"><a href="/reopened">Reopened</a></li>
  {%endif%}
  {% if tab == "RaisedQ" %}
    <li class="nav-item active"><a href="/raisedQ">Raised Query</a></li>
  {%else%}
    <li class="nav-item"><a href="/raisedQ">Raised Query</a></li>
  {%endif%}
  {% if tab == "Closed" %}
    <li class="nav-item active"><a href="/closed">Closed</a></li>
  {%else%}
    <li class="nav-item"><a href="/closed">Closed</a></li>
  {%endif%}
  {% if tab == "Cancelled" %}
    <li class="nav-item active"><a href="/cancelled">Cancelled</a></li>
  {%else%}
    <li class="nav-item"><a href="/cancelled">Cancelled</a></li>
  {%endif%}
  {% if tab == "Approval" %}
  <li class="nav-item active"><a href="/approval">For First Approval</a></li>
  {%else%}
    <li class="nav-item"><a href="/approval">For First Approval</a></li>  
  {%endif%}
  {% if tab == "Rejected" %}
    <li class="nav-item active"><a href="/rejected">Rejected</a></li>
  {%else%}
    <li class="nav-item"><a href="/rejected">Rejected</a></li>
  {%endif%}
  {% if tab == "HelpdeskApprover" %}
    <li class="nav-item active"><a href="/HelpdeskApprover">Helpdesk Approver</a></li>
  {%else%}
    <li class="nav-item"><a href="/HelpdeskApprover">Helpdesk Approver</a></li>
  {%endif%}
  {% if tab == "HelpdeskFulfillerHead" %}
    <li class="nav-item active"><a href="/HelpdeskFulfillerHead">Fulfiller Head</a></li>
  {%else%}
    <li class="nav-item"><a href="/HelpdeskFulfillerHead">Fulfiller Head</a></li>
  {%endif%}
  {% if tab == "AssignedTickets" %}
    <li class="nav-item active"><a href="/AssignedTickets">Assigned</a></li>
  {%else%}
    <li class="nav-item"><a href="/AssignedTickets">Assigned</a></li>
  {%endif%}

  </ul>

 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            
          </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 
{% if all_items %}

  
  <table class="table">
    <thead>
      <tr>
    <th>Request ID</th>
    <th>Raised By</th>
    <th>Raised Date</th>
    <th>Department</th>
    <th>Category</th> 
    <th>Sub-Category</th>
    <th>Status</th>
    
   {% if tab == "Pending" %}
    <th>Update</th>
    <th>Close Ticket</th>
    {% elif tab == "Approval" or tab == "HelpdeskApprover"%}
    <th>Approve</th>
    <th>Reject</th>
    {% else %}
    <th>Close Ticket</th>
  {% endif %}
    <th>History</th>
    </tr>
    </thead>
    
    {%for key,things in all_items.items%}
    
      <tr>
        <td><a href="/display/{{key}}">2018-2019/Helpdesk/Request/{{things.id}}</a></td>
        <td>{{things.EmployeeName}}</td>
        <td>{{things.created_at}}</td>
        <td>{{things.department}}</td>
        <td>{{things.category}}</td>
        <td>{{things.sub_category}}</td>
        <td>{{things.WorkflowCurrentStatus}}</td>
        {% if tab == "Approval" %}
        <td>
        <a href="/approve/{{things.id}}" class="btn btn-primary" ><span class="glyphicon glyphicon-ok" ></span> Approve</a>
        </td>
        <td><a href="/reject/{{things.id}}" class="btn btn-warning">Reject</a>
        </td>
        {% elif tab == "HelpdeskApprover" %}
        <td><a href="/approve1/{{things.id}}" class="btn btn-primary" ><span class="glyphicon glyphicon-ok" ></span> Approve</a>
        </td>
        <td><a href="/reject1/{{things.id}}" class="btn btn-warning">Reject</a>
        </td>
        {% else %} 
        <td><a href="/delete/{{things.id}}" class="btn btn-danger">Delete</a></td>

        {% endif %}
         {% if tab == "Pending" %}
        <td><a href="/update/{{things.id}}" class="btn btn-info btn-lg">Update</a></td>
       
        {% endif %}
         {% if tab == "AssignedTickets" %}
        <td><a href="/complete/{{things.id}}" class="btn btn-info btn-lg">Complete</a></td>
       
        {% endif %}
        
        <td><center><a href="/workflow/{{things.id}}"  data-toggle="modal" data-target="#myModal" ><span class="glyphicon glyphicon-eye-open" ></span></a>
        {% if tab == "HelpdeskFulfillerHead" %}
            <a href="/assign/{{things.id}}"  data-toggle="modal" data-target="#myModal" ><span class="glyphicon glyphicon-link" ></span></a>
        {% endif %}
        </center>
        </td>
      </tr>
    {%endfor%}
</table>
{% else %}
<div class="alert alert-warning alert-dismissable" role="alert">  
      <h4>No tickets found!</h4>
 </div>

{% endif %}
 
<script>
$(document).ready(function(){

  $("#myModal").on('hidden.bs.modal', function(){
     console.log("Hello world!");
    location.reload();
  });
});
</script>
</body>
</html>




