<!DOCTYPE html>
<html>
<head>
	<title></title>
<style type="text/css">
	.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color:#616D7E;
     font-size: 16px;
    color: white;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;

 }
 th {
    background-color: #488AC7;
    color: white;

    
} 
</style>

 
</head>
<body>
	<div class="modal-header"><b><span class="glyphicon glyphicon-hourglass"></span> Workflow Status</b>
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        		
        		<h4 class="modal-title"></h4>
        </div>

	{%if workflow%}
	<table class="table table-hover">
		<thead>
			
		<th>Employee Id</th>
		<th>Employee Name</th>
		<th>Status</th>
		<th>Comments</th>
		<th>Acted On</th>
		
		</thead>			
					
		{%for work in workflow%}
								
			<tr>
				<td>{{work.ActedByUser}}</td>
				<td>{{work.Actor}}</td>
				<td>{{work.RequestStatus}}</td>
				<td>{{work.ActionData}}</td>
				<td>{{work.ActedOn}}</td>
			</tr>
		{%endfor%}

	</table>
	{%endif%}
	<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
</body>
</html>